{% extends 'peliculas.html' %}

{% block contenido_interno %}

<br/><h1> Estrenos </h1><br/>

{% for estreno in estrenos %}
	<div class="contenido-pelicula">
					<div class="datos-pelicula">
						<h2>{{ estreno.Titulo }}</h2><br/>
						<p> {{ estreno.Sinopsis }}</p>
						<br/>
                       	<div class="boton-pelicula"> 
                       		<a href= "{{ url_for( 'pelicula' , id= estreno['id']) }}">
                       			<img src="{{ url_for('static', filename ='img/varios/btn-mas-info.jpg') }}" width="120" height="30" alt="Ver info"/>
                       		</a>
               			</div>
               			<div class="boton-pelicula"> 
               				<a href="https://www.youtube.com/v/{{estreno['Link']}}" target=_blank  onclick="return hs.htmlExpand(this, { objectType: 'iframe' } )" >
               					<img src="{{ url_for('static', filename ='img/varios/btn-trailer.jpg') }}" width="120" height="30" alt="Ver trailer"/>
               				</a>
                        </div> 
					</div>
					<img src="{{ url_for('static', filename ='img/pelicula/' + estreno.id|string() + '.jpg') }}" width="160" height="226"/><br/><br/>
	</div>			

{% endfor %}
	
{% endblock  %}

